body {
  margin: 0px;
  background-color: #f6f6f2;
  font-family: Arial, Helvetica, sans-serif;
}

.book-form {
  display: grid;
  grid-template-columns: auto;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 15px;
}

.book-form > label, span {
    margin-top: 20px;
    font-weight: bold;
}

.book-form button {
    width: fit-content;
    margin: 15px;
    padding: 10px 15px;
    justify-self: end;
    background-color: #c2edce;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.book-form input {
    border: none;
    height: 2rem;
    background-color: #f6f6f2;
}

.book-form span {
    display: flex;
    align-items: center;
}